@import "grid";
//$primary-color: rgba(168, 10, 45, 1);
$primary-color: #184a8c;
$secondary-color: #324471;

$gray-font: #6f6f6f;

$font-color: #969696;
$font-hover-color: #ffffff;

$header-color: #555555;
$header-hover-color: #000000;

$bg-gray: #f7f7f7;
$border-color: #a3a8c5;

$red-font: #e80636;

$blue: #3f51b5;
$second-blue: #253178;
$red: #e91e63;
